 <log4net>
    <root>
      <level value="All" />
      <appender-ref ref="console" />
      <appender-ref ref="rollingFile" />
    </root>
    <appender name="console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %level %logger - %message%newline" />
      </layout>
    </appender>
    <appender name="rollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="logs/atmosphere.tmaf.log" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <PreserveLogFileNameExtension value="true" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
    </appender>
  </log4net>